@CHARSET "ISO-8859-1";
#nav ul {
    list-style: none;
}

#nav ul li {
    display: inline;
    padding: 0 20px;
}

#nav ul li a {
    font-family: "Arial Black";
    color: #233042;
    font-size: 16px;
    text-decoration: none;
}

#nav ul li a:hover {
    color: #FFFFFF;
}

#nav ul li a.selected {
    font-weight: bold;
}